<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>トップ</title>

<style>
  .main-btn {
    display: inline-block;
    padding: 16px 32px;
    font-size: 20px;
    border: 1px solid #333;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    background-color: #f0f0f0;
    cursor: pointer;
  }

  .main-btn:active {
  background-color: #c0c0c0;
}

</style>
</head>
<body>

<h1>保育所保育指針　問題演習</h1>

<h2>＊総則以降は随時追加予定です。</h2>

<a href="/sousoku">
  <button class="main-btn">総則</button>
</a>

</body>
</html>
