<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>総則</title>

  <style>
    h2, h3, h4, h5{
      font-size: 24px;
    }
  
   </style> 

</head>

<body>

<h2>1 保育所保育に関する基本原則</h2>

<ul>
  <li>
    <a href="{{ url_for('quiz', section='role') }}">
      (1) 保育所の役割
    </a>
  </li>
  <li>
    <a href="{{ url_for('quiz', section='goal') }}">
      (2) 保育の目標
    </a>
  </li>
  <li>
    <a href="{{ url_for('quiz', section='method') }}">
      (3) 保育の方法
    </a>
  </li>
  <li>
    <a href="{{ url_for('quiz', section='environment') }}">
      (4) 保育の環境
    </a>
  </li>
  <li>
    <a href="{{ url_for('quiz', section='responsibility') }}">
      (5) 保育所の社会的責任
    </a>
  </li>
</ul>

<h3>2 養護に関する基本的事項</h3>

<ul>
  <li>
    <a href="{{ url_for('quiz', section='philosophy') }}">
      (1) 養護の理念
    </a>
  </li>
<li>
    <a href="{{ url_for('quiz', section='Aimsandcontentrelatedtocare') }}">
      (2) 養護に関わるねらい及び内容
    </a>
  </li>
</ul>

<h4>3 保育の計画及び評価</h4>


<ul>
  <li>
    <a href="{{ url_for('quiz', section='Childcareplanningandevaluation') }}">
      (1)　全体的な計画の作成
    </a>
  </li>
  <li>
    <a href="{{ url_for('quiz', section='Creatingalessonplan') }}">
      (2)　指導計画の作成
    </a>
  </li>
  <li>
    <a href="{{ url_for('quiz', section='Developmentoflessonplans') }}">
      (3)　指導計画の展開
    </a>
  </li>
  <li>
    <a href="{{ url_for('quiz', section='Evaluationofchildcarecontentetc') }}">
      (4)　保育内容等の評価
    </a>
  </li>
  <li>
    <a href="{{ url_for('quiz', section='Improvingtheplanbasedontheevaluation') }}">
      (5)　評価を踏まえた計画の改善
    </a>
  </li>
</ul>

<h5>4 幼児教育を行う施設として共有すべき事項</h5>

<ul>
  <li>
    <a href="{{ url_for('quiz', section='Qualitiesandabilitiesyouwanttodevelop') }}">
      (1)　育みたい資質・能力
    </a>
  </li>
  <li>
    <a href="{{ url_for('quiz', section='Whatwewantchildrentobecomebytheendoftheirearlychildhoodyears') }}">
      (2)　幼児期の終わりまでに育ってほしい姿
    </a>
  </li>
</ul>

<a href="{{ url_for('index') }}">トップへ戻る</a>

</body>
</html>

